.vollkorn, .navbar-brand, .nav-link, .sub-box .submit {
  font-family: 'Vollkorn', serif; }

.montserrat, .about-box h4, .sub-box h4, .sub-box input {
  font-family: 'Montserrat', sans-serif; }

body {
  background-color: #FCFDFD; }

.navbar-collapse {
  padding: 0; }

.navbar {
  border-radius: 0;
  border: none;
  background-color: #EEEFF1; }

.navbar-default {
  margin-bottom: 0px; }

.navbar-brand {
  position: absolute;
  cursor: default;
  text-align: center;
  margin: auto;
  width: 100%;
  left: 0;
  font-size: 16px;
  cursor: default;
  color: #000 !important;
  width: 100%;
  left: 0;
  top: 0; }

.nav-img-box {
  margin-left: 28px;
  height: 50px;
  text-align: left; }

.nav-img {
  margin: 8px 0;
  padding: 0;
  height: 34px;
  text-align: left; }

.navbar-right {
  margin-right: 18px; }

.nav-link {
  color: #9CA2AB; }

.nav-active {
  color: #F15649 !important;
  cursor: default; }

.nav-link:hover {
  color: #F15649 !important; }

.about-box {
  width: 65%;
  margin: 150px auto 0 auto; }
  .about-box h4 {
    margin-top: 30px; }
  .about-box .link-txt {
    color: #F15649; }
  .about-box .social-box {
    margin-top: 100px;
    width: 100%;
    min-height: 200px;
    text-align: center; }
  .about-box a:hover {
    text-decoration: none; }
  .about-box .glyph-icon {
    margin: 10px;
    color: #F15649; }

.sub-box {
  width: 60%;
  margin: 150px auto 0 auto; }
  .sub-box h4 {
    margin-top: 30px; }
  .sub-box .form {
    margin-top: 30px;
    text-align: center; }
  .sub-box input {
    height: 40px;
    border: 1px solid #000; }
  .sub-box .submit {
    padding-top: 10px;
    margin-top: 30px;
    color: #000;
    background-color: #FCFDFD;
    border: 1px solid #F15649; }
  .sub-box .submit:hover {
    color: #FCFDFD;
    background-color: #F15649; }

@media only screen and (min-width: 400px) {
  .windows-box {
    width: 50px;
    background-color: #3df;
    margin: 100px auto; } }

@media only screen and (min-width: 960px) {
  .windows-box {
    margin-top: 50px;
    width: 100%; }
    .windows-box .day-box {
      position: fixed;
      margin: 50px 50px 50px 28px;
      padding: 5px 10px 3px 10px;
      background-color: #FCFDFD; }
      .windows-box .day-box .day-txt {
        font-family: 'Vollkorn', serif; }
    .windows-box .day-img {
      width: 100%; } }
