$lt-gray:#EEEFF1;
$gray: #9CA2AB;
$d-gray: #464646;
$red: #0068FC;
$d-white: #FCFDFD;
$black: #000;
$navbar-height:50px;

$break-small: 400px;
$break-large: 1800px;
$break-medium:960px;
$large-screen-width:1600px;


.vollkorn{
	font-family: 'Vollkorn', serif;
}
.montserrat{
	font-family: 'Montserrat', sans-serif;
}

body{
	background-color: $d-white;
}

@import 'partials/_nav.scss';
@import 'partials/_about.scss';
@import 'partials/_sub.scss';
@import 'partials/_main.scss';
