$lt-gray:#EEEFF1;
$gray: #9CA2AB;
$d-gray: #464646;
$red: #F15649;
$d-white: #FCFDFD;
$black: #000;
$navbar-height:50px;

.vollkorn{
	font-family: 'Vollkorn', serif;
}
.montserrat{
	font-family: 'Montserrat', sans-serif;
}

body{
	background-color: $d-white;
}

@import 'partials/_nav.scss';
@import 'partials/_about.scss';
@import 'partials/_sub.scss';
@import 'partials/_main.scss';
