.vollkorn, .navbar-brand, .nav-link {
  font-family: 'Vollkorn', serif; }

.montserrat {
  font-family: 'Montserrat', sans-serif; }

body {
  background-color: #FCFDFD; }

.navbar-collapse {
  padding: 0; }

.navbar {
  border-radius: 0;
  border: none;
  background-color: #EEEFF1; }

.navbar-brand {
  position: absolute;
  cursor: default;
  text-align: center;
  margin: auto;
  width: 100%;
  left: 0;
  font-size: 16px;
  cursor: default;
  color: #000 !important;
  width: 100%;
  left: 0; }

.nav-img-box {
  margin-left: 28px;
  height: 50px;
  text-align: left; }

.nav-img {
  margin: 8px 0;
  padding: 0;
  height: 34px;
  text-align: left; }

.navbar-right {
  margin-right: 18px; }

.nav-link {
  color: #9CA2AB; }

.nav-link:hover {
  color: #F15649 !important; }

.about-box {
  width: 80%;
  height: 200px;
  background-color: #F15649;
  margin-top: 200px; }
