<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>    
  </div>
  <span class="navbar-brand brand-txt"><a href="/" class="link-txt"><span class="num-txt">100</span> DAYS OF WINDOW</a></span>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-left">
        <li class="nav-img-box"><img class="nav-img" src="assets/images/window.png"></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a class="nav-link" href="subscribe.html">SUBSCRIBE</a></li>
      <li><a class="nav-link nav-active" href="#">ABOUT</a></li>
    </ul>
  </div>
</nav>