.about-box{
	width:65%;
	margin:150px auto 0 auto;
	h4{
		@extend .montserrat;
		margin-top: 30px;
	}
	.link-txt{
		color:$red;
	}
	.social-box{
		margin-top: 100px;
		width:100%;
		min-height: 200px;
		text-align: center;
	}
	a:hover{
		text-decoration: none;
	}
	.glyph-icon{
		margin:10px;
		color:$red;
	}
}