@media only screen and (min-width:$break-small) {
	.windows-box{
		width:50px;
		margin:100px auto 0 auto;
	}
}
@media only screen and (min-width:$break-medium) {
	.windows-box{
	margin-top:$navbar-height;
	width:100%;
	.day-box{
		position:fixed;
		margin: 50px 50px 50px 28px;
		padding:5px 10px 3px 10px;
		background-color: $d-white;
		.day-txt{
			font-family: 'Vollkorn', serif;
		}
	}
	.day-img{
		width:100%;
	}
	}
}