.sub-box{
	width:60%;
	margin:150px auto 0 auto;
	h4{
		@extend .montserrat;
		margin-top: 30px;
	}
	.form{
		margin-top: 30px;
		text-align: center;
	}
	input{
		@extend .montserrat;
		height: 40px;
		border:1px solid $black;		
	}
	.submit{
		padding-top: 10px;
		@extend .vollkorn;
		margin-top: 30px;
		color:$black;
		background-color: $d-white;
		border:1px solid $red;
	}
	.submit:hover{
		color:$d-white;
		background-color: $red;

	}
}