<!doctype html>
<html>
    <head> 
    	<link href="vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type='text/css'> 
        <link href="css/base.min.css"rel="stylesheet" type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Vollkorn:700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Raleway:400,300' rel='stylesheet' type='text/css'>
        <link href="assets/fonts/flaticon.css" rel="stylesheet" type="text/css">
    </head>
    <body>
    	<% include partials/_aboutnav.ejs %>
        <div class="about-box">
            <div class="row">
                <div style="text-align:center">
                <img src="assets/images/stella.jpg" style="text-align-center;">
                </div>
                <div class="col-md-12 text-center about-txt-box">
                    <h4 class="about-txt">100 Days of Window is a personal project by me, <a class="link-txt" href="http://www.astellalee.com" target="_blank">Stella Ahrhembyeol Lee</a>, an Austin based UX designer.</h4>
                    <h4 class="about-txt">Everyday for 100 days, I will document photographs of windows that I've passed by during my travels and illustrate the stories of lives living within through the lens of my imagination.</h4>
                    <h4 class="about-txt">100 days of window is inspired by <a class="link-txt" href="https://thegreatdiscontent.com/100days" target="_blank">The100DayProject</a>, in which the goal is to show up day by day. Only time and discipline will reveal how this journey will fare.</h4>
                    <h4 class="about-txt">#100daysofwindow</h4>
                </div>
            </div>
            <div class="social-box">
                <a href="mailto:i.astellalee@gmail.com" target="_blank"><span class="glyph-icon flaticon-mail80"></span></a>                
                <a href="http://www.linkedin.com/in/astellalee" target="_blank"><span class="glyph-icon flaticon-linkedin11"></span></a>
                <a href="http://www.instagram.com/astellalee" target="_blank"><span class="glyph-icon flaticon-instagram12"></span></a>
                <a href="http://www.pinterest.com/atellalee" target="_blank"><span class="glyph-icon flaticon-pinterest27"></span></a>
                <a href="http://www.github.com/astellalee" target="_blank"><span class="glyph-icon flaticon-github17"></span></a>

            </div>
        </div>
    	<% include partials/_jsOthers.ejs %>
    </body>
</html>