<!doctype html>
<html>
    <head> 
    	<link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css"> 
        <link rel="stylesheet" href="./css/base.min.css">
        <link href='https://fonts.googleapis.com/css?family=Vollkorn:700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    </head>
    <body>
    	<% include partials/_nav.ejs %>
        <div class="about-box">
        </div>
    	<% include partials/_js.ejs %>
    </body>
</html>