<!doctype html>
<html>
    <head> 
    	<link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css"> 
        <link rel="stylesheet" href="css/base.min.css">
        <link href='https://fonts.googleapis.com/css?family=Vollkorn:700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Raleway:400,300' rel='stylesheet' type='text/css'>
    </head>
    <body>
    	<% include partials/_nav.ejs %>
        <!--<div id="container">
            <img src="assets/images/day16.jpg" width="400" height="300" />
            <img src="assets/images/day17.jpg" width="400" height="300" />
        </div>-->
        <div class="windows-box">
            <div class="day-box mobile-hidden"> 
                <h4 id="day-tracker" class="day-txt">DAY <span class="num-txt">015</span></h4>
            </div>

            <div class="city-box mobile-hidden"> 
                <h4 id="city-tracker" class="city-txt">NEW YORK CITY</h4>
            </div>
 
            <!--for text center-->
             <div id="day-15" class="row days" style="background-image:url('assets/images/day15.jpg')">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="mobile-day-box desktop-hidden">              
                            <h4 class="day-txt">DAY <span class="num-txt">015</span></h4>
                        </div>
                        <div class="mobile-city-box desktop-hidden">              
                            <h4 class="city-txt">NEW YORK CITY</h4>
                        </div>
                        <div class="pad-img"></div>
                    </div>
                </div>
            </div>

            <div id="day-14" class="row days" style="background-image:url('assets/images/day14.jpg')">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="mobile-day-box desktop-hidden">              
                            <h4 class="day-txt">DAY <span class="num-txt">014</span></h4>
                        </div>
                        <div class="mobile-city-box desktop-hidden">              
                            <h4 class="city-txt">PARIS</h4>
                        </div>
                        <div class="pad-img"></div>
                    </div>
                </div>
            </div>

            <div id="day-13" class="row days" style="background-image:url('assets/images/day13.jpg')">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="mobile-day-box desktop-hidden">              
                            <h4 class="day-txt">DAY <span class="num-txt">013</span></h4>
                        </div>
                        <div class="mobile-city-box desktop-hidden">              
                            <h4 class="city-txt">HONG KONG</h4>
                        </div>
                        <div class="pad-img"></div>
                    </div>
                </div>
            </div>

            <div id="day-12" class="row days" style="background-image:url('assets/images/day12.jpg')">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="mobile-day-box desktop-hidden">              
                            <h4 class="day-txt">DAY <span class="num-txt">012</span></h4>
                        </div>
                        <div class="mobile-city-box desktop-hidden">              
                            <h4 class="city-txt">STRASBOURG, FRANCE</h4>
                        </div>
                        <div class="pad-img"></div>
                    </div>
                </div>
            </div>

            <div id="day-11" class="row days" style="background-image:url('assets/images/day11.jpg')">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="mobile-day-box desktop-hidden">              
                            <h4 class="day-txt">DAY <span class="num-txt">011</span></h4>
                        </div>
                        <div class="mobile-city-box desktop-hidden">              
                            <h4 class="city-txt">MACAU</h4>
                        </div>
                        <div class="pad-img"></div>
                    </div>
                </div>
            </div>

            <div id="day-10" class="row days" style="background-image:url('assets/images/day10.jpg')">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="mobile-day-box desktop-hidden">              
                            <h4 class="day-txt">DAY <span class="num-txt">010</span></h4>
                        </div>
                        <div class="mobile-city-box desktop-hidden">              
                            <h4 class="city-txt">GRANADA, SPAIN</h4>
                        </div>
                        <div class="pad-img"></div>
                    </div>
                </div>
            </div>

            <div id="day-9" class="row days" style="background-image:url('assets/images/day9.jpg')">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="mobile-day-box desktop-hidden">              
                            <h4 class="day-txt">DAY <span class="num-txt">009</span></h4>
                        </div>
                        <div class="mobile-city-box desktop-hidden">              
                            <h4 class="city-txt">GRANADA, SPAIN</h4>
                        </div>
                        <div class="pad-img"></div>
                    </div>
                </div>
            </div>

            <div id="day-8" class="row days" style="background-image:url('assets/images/day8.jpg')">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="mobile-day-box desktop-hidden">              
                            <h4 class="day-txt">DAY <span class="num-txt">008</span></h4>
                        </div>
                        <div class="mobile-city-box desktop-hidden">              
                            <h4 class="city-txt">GRANADA, SPAIN</h4>
                        </div>
                        <div class="pad-img"></div>
                    </div>
                </div>
            </div>

            <div id="day-7" class="row days" style="background-image:url('assets/images/day7.jpg')">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="mobile-day-box desktop-hidden">              
                            <h4 class="day-txt">DAY <span class="num-txt">007</span></h4>
                        </div>
                        <div class="mobile-city-box desktop-hidden">              
                            <h4 class="city-txt">DOWNTOWN SEATTLE</h4>
                        </div>
                        <div class="pad-img"></div>
                    </div>
                </div>
            </div>

            <div id="day-6" class="row days" style="background-image:url('assets/images/day6.jpg')">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="mobile-day-box desktop-hidden">              
                            <h4 class="day-txt">DAY <span class="num-txt">006</span></h4>
                        </div>
                        <div class="mobile-city-box desktop-hidden">              
                            <h4 class="city-txt">SEATTLE, WASHINGTON</h4>
                        </div>
                        <div class="pad-img"></div>
                    </div>
                </div>
            </div>

            <div id="day-5" class="row days" style="background-image:url('assets/images/day5.jpg')">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="mobile-day-box desktop-hidden">              
                            <h4 class="day-txt">DAY <span class="num-txt">005</span></h4>
                        </div>
                        <div class="mobile-city-box desktop-hidden">              
                            <h4 class="city-txt">SEATTLE, WASHINGTON</h4>
                        </div>
                        <div class="pad-img"></div>
                    </div>
                </div>
            </div>

            <div id="day-4" class="row days" style="background-image:url('assets/images/day4.jpg')">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="mobile-day-box desktop-hidden">                        
                            <h4 class="day-txt">DAY <span class="num-txt">004</span></h4>
                        </div>
                        <div class="mobile-city-box desktop-hidden">              
                            <h4 class="city-txt">NEW YORK CITY</h4>
                        </div>
                        <div class="pad-img"></div>
                    </div>
                </div>
            </div>

            <div id="day-3" class="row days" style="background-image:url('assets/images/day3.jpg')">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="mobile-day-box desktop-hidden">                        
                            <h4 class="day-txt">DAY <span class="num-txt">003</span></h4>
                        </div>
                        <div class="mobile-city-box desktop-hidden">              
                            <h4 class="city-txt">DOWNTOWN LOS ANGELES</h4>
                        </div>
                        <div class="pad-img"></div>
                    </div>
                </div>
            </div>
            
            <div id="day-2" class="row days" style="background-image:url('assets/images/day2.jpg') ">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="mobile-day-box desktop-hidden">                        
                            <h4 class="day-txt">DAY <span class="num-txt">002</span></h4>
                        </div>
                        <div class="mobile-city-box desktop-hidden">              
                            <h4 class="city-txt">STRASBOURG, FRANCE</h4>
                        </div>
                        <div class="pad-img"></div>
                    </div>
                </div>
            </div>

            <div id="day-1" class="row days" style="background-image:url('assets/images/day1.jpg') ">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="mobile-day-box desktop-hidden">                        
                            <h4 class="day-txt">DAY <span class="num-txt">001</span></h4>
                        </div>
                        <div class="mobile-city-box desktop-hidden">              
                            <h4 class="city-txt">NEW YORK CITY</h4>
                        </div>
                        <div class="pad-img"></div>
                    </div>
                </div>
            </div>


        </div>
    	<% include partials/_js.ejs %>
    </body>
</html>