<!doctype html>
<html>
    <head> 
    	<link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css"> 
        <link rel="stylesheet" href="css/base.min.css">
        <link href='https://fonts.googleapis.com/css?family=Vollkorn:700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Raleway:400,300' rel='stylesheet' type='text/css'>
    </head>
    <body>
    	<% include partials/_nav.ejs %>
        <div class="windows-box">
            <div class="day-box mobile-hidden"> 
                <h4 id="day-tracker" class="day-txt">DAY <span class="num-txt">003</span></h4>
            </div>

            <!--copy from here-->
            
            <div id="day-2" class="row days" style="background-image:url('assets/images/Day2.jpg') ">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="mobile-day-box desktop-hidden">                        
                            <h4 class="day-txt">DAY <span class="num-txt">002</span></h4>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <h4 class="text-desc text-top"> Strasbourg, France
                        </h4>
                    </div>
                </div>
            </div>

            <div id="day-1" class="row days" style="background-image:url('assets/images/Day1.jpg') ">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="mobile-day-box desktop-hidden">                        
                            <h4 class="day-txt">DAY <span class="num-txt">001</span></h4>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <h4 class="text-desc text-top"> NYC <br>
                        View from the Highline
                        </h4>
                    </div>
                </div>



            <!--for text top - copy from here-->
            <!-- <div id="day-2" class="row days" style="background-image:url('assets/images/day1.jpg') ">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="mobile-day-box desktop-hidden">                        
                            <h4 class="day-txt">DAY <span class="num-txt">002</span></h4>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <h4 class="text-desc text-top"> NYC
                        View from the Highline
                        </h4>
                    </div>
                </div>
            </div> -->
            <!--to here-->



            <!--for text center-->
            <!-- <div id="day-1" class="row days" style="background-image:url('assets/images/desktop3.jpg')">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="mobile-day-box desktop-hidden">                        
                            <h4 class="day-txt">DAY <span class="num-txt">001</span></h4>
                        </div>
                        <h4 class="text-desc text-cent"> NYC
                        View from the Highline
                        </h4>
                    </div>
                </div>
            </div> -->
            <!--end copy here-->
            





            <!--for text bottom-->
            <!-- <div id="day-1" class="row days" style="background-image:url('assets/images/desktop3.jpg')">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="mobile-day-box desktop-hidden">                        
                            <h4 class="day-txt">DAY <span class="num-txt">001</span></h4>
                        </div>
                        <h4 class="text-desc text-bot"> NYC
                        View from the Highline
                        </h4>
                    </div>
                </div>
            </div> -->
            <!--end copy here-->
        </div>
    	<% include partials/_js.ejs %>
    </body>
</html>