<!doctype html>
<html>
    <head> 
    	<link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css"> 
        <link rel="stylesheet" href="css/base.min.css">
        <link href='https://fonts.googleapis.com/css?family=Vollkorn:700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Raleway:400,300' rel='stylesheet' type='text/css'>
    </head>
    <body>
    	<% include partials/_nav.ejs %>
        <div class="windows-box">
            <div class="day-box mobile-hidden"> 
                <h4 id="day-tracker" class="day-txt">DAY <span class="num-txt">006</span></h4>
            </div>

            <div class="city-box mobile-hidden"> 
                <h4 id="city-tracker" class="city-txt">SEATTLE, WASHINGTON</h4>
            </div>

            <!--for text center-->

            <div id="day-5" class="row days" style="background-image:url('assets/images/day5.jpg')">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="mobile-day-box desktop-hidden">              
                            <h4 class="day-txt">DAY <span class="num-txt">005</span></h4>
                        </div>
                        <div class="mobile-city-box desktop-hidden">              
                            <h4 class="city-txt">SEATTLE, WASHINGTON</h4>
                        </div>
                        <div class="pad-img"></div>
                    </div>
                </div>
            </div>

            <div id="day-4" class="row days" style="background-image:url('assets/images/day4.jpg')">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="mobile-day-box desktop-hidden">                        
                            <h4 class="day-txt">DAY <span class="num-txt">004</span></h4>
                        </div>
                        <div class="mobile-city-box desktop-hidden">              
                            <h4 class="city-txt">NEW YORK CITY</h4>
                        </div>
                        <div class="pad-img"></div>
                    </div>
                </div>
            </div>

            <div id="day-3" class="row days" style="background-image:url('assets/images/day3.jpg')">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="mobile-day-box desktop-hidden">                        
                            <h4 class="day-txt">DAY <span class="num-txt">003</span></h4>
                        </div>
                        <div class="mobile-city-box desktop-hidden">              
                            <h4 class="city-txt">DOWNTOWN LOS ANGELES</h4>
                        </div>
                        <div class="pad-img"></div>
                    </div>
                </div>
            </div>
            
            <div id="day-2" class="row days" style="background-image:url('assets/images/day2.jpg') ">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="mobile-day-box desktop-hidden">                        
                            <h4 class="day-txt">DAY <span class="num-txt">002</span></h4>
                        </div>
                        <div class="mobile-city-box desktop-hidden">              
                            <h4 class="city-txt">STRASBOURG</h4>
                        </div>
                        <div class="pad-img"></div>
                    </div>
                </div>
            </div>

            <div id="day-1" class="row days" style="background-image:url('assets/images/day1.jpg') ">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="mobile-day-box desktop-hidden">                        
                            <h4 class="day-txt">DAY <span class="num-txt">001</span></h4>
                        </div>
                        <div class="mobile-city-box desktop-hidden">              
                            <h4 class="city-txt">NEW YORK CITY</h4>
                        </div>
                        <div class="pad-img"></div>
                    </div>
                </div>
            </div>


        </div>
    	<% include partials/_js.ejs %>
    </body>
</html>