<!doctype html>
<html>
    <head> 
    	<link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css"> 
        <link rel="stylesheet" href="css/base.min.css">
        <link href='https://fonts.googleapis.com/css?family=Vollkorn:700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Raleway:400,300' rel='stylesheet' type='text/css'>
    </head>
    <body>
    	<% include partials/_subnav.ejs %>
         <div class="sub-box">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h4>Subscribe to stay connected on how 100 Days of Window progress over the next one hundred days.</h4>
                </div>
            <div class="row">
                <form action="http://100daysofmagicbutton.us1.list-manage.com/subscribe/post?u=9ab404feb58a6b8d3737369f1&amp;id=5e18906a4d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div class="col-md-8 col-md-offset-1 form">
                            <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" required>  
                    </div> 
                    <div class="col-md-2">
                            <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn submit">Subscribe</button>
                    </div>
                </form>
            </div>
            <div class="social-box">
                <a href="mailto:i.astellalee@gmail.com" target="_blank"><span class="glyph-icon flaticon-dark4"></span></a>                
                <a href="http://www.linkedin.com/in/stellalee" target="_blank"><span class="glyph-icon flaticon-linkedin11"></span></a>
                <a href="http://www.instagram.com/stellalee" target="_blank"><span class="glyph-icon flaticon-instagram12"></span></a>
                <a href="http://www.pinterest.com/stellalee" target="_blank"><span class="glyph-icon flaticon-pinterest27"></span></a>
            </div>
        </div>
    	<% include partials/_jsOthers.ejs %>
    </body>
</html>