@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
font-style: normal;
margin-left: 20px;
}.flaticon-facebook55:before {
	content: "\e000";
}
.flaticon-github17:before {
	content: "\e001";
}
.flaticon-instagram12:before {
	content: "\e002";
}
.flaticon-linkedin11:before {
	content: "\e003";
}
.flaticon-mail80:before {
	content: "\e004";
}
.flaticon-pinterest27:before {
	content: "\e005";
}
